* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: #ecebeb;
}

main,
.main-footer {
    width: 90%;
    margin: 0 auto;
    max-width: 1150px;
}

.card-img {
    width: 100%;
}

.profile-img {
    margin-top: 184px;
    width: 70%;
}

div {
    text-align: center;
}

.new-part {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 1em;;
}

.card {
    padding: 1em 0 1em 0;
    margin: 1em 0 2em 0;
    border: 2px solid rgba(0, 0, 0,.2);
    border-radius: 0.5em;
    transition-duration: 0.5s;
    background-color: #fff;
    color: rgba(0, 0, 0,.9);
    box-shadow: 0 5px 7px rgba(0, 0, 0,.7);
    opacity: .8;
}

.card p {
    width: 90%;
    margin: 0 auto;
    height: 5em;
}

.card:hover {
    transform: scale(1.025);
    color: #000;
    border: 2px solid rgba(0, 0, 0,.8);
    box-shadow: 7px 5px 7px rgba(0, 0, 0,.7);
    opacity: 1;
}

.greeting,
.goodbye,
footer,
a,
.email-options a,
footer h4 {
    text-decoration: none;
    color: rgba(0, 0, 0,.7);
}

.greeting p {
    font-size: larger;
}

footer a,
header a {
    font-weight: 700;
}

footer a:hover,
header a:hover,
.email-options a:hover {
    color: #000;
}

header {
    padding-top: 1.25em;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 7px rgba(0, 0, 0,.7);
    top: 0;
}

header h1,
header ul {
    text-align: center;
}

header a {
    text-decoration: none;
    padding-right: 2em;
}

header li {
    display: block;
    line-height: 2em;
}

header h1 {
    margin-top: 0;
}

.email-plug {
    margin-top: 0;
    padding-bottom: 3em;
    margin: 0 auto;
    width: 234px;
    overflow: hidden;
}

.email {
    float: left;
}

.email-options {
    text-align: left;
    float: right;
    padding: 0;
    padding-top: 0.25em;
    line-height: 0.5em;
}

.phone,
.invite {
    margin-bottom: 0;
}

.goodbye {
    clear: both;
}

footer a,
.new-part,
header li {
    text-transform: uppercase;
}

footer {
    clear: both;
    overflow: hidden;
    background-color: #fff;
}

footer a {
    float: right;
    text-decoration: none;
}

.backToTop {
    padding-top: 1.5em;
}

footer h2 {
    float: left;
}

footer h4 {
    clear: both;
    color: rgba(0, 0, 0,.7);
    padding-bottom: .5em;
    font-weight: 300;
}

.footerList {
    display: none;
}

@media (min-width: 768px) {

    main {
        overflow: hidden;
    }

    .card {
        width: 46%;
        margin-bottom: 1.5em;
    }

    .card-first,
    .card-third,
    .card-fifth {
        float: left;
        margin-left: 1em;
    }

    .card-second,
    .card-fourth,
    .card-sixth {
        float: right;
        margin-right: 1em;
    }

    header li {
        display: inline-block;
    }

    .greeting {
        overflow: hidden;
    }

    .greeting p {
        display: block;
        float: left;
        margin-top: 184px;
        text-align: left;
        width: 60%;
    }

    .profile-img {
        margin-top: 160px;
        width: 40%;
        float: right;
    }

    .backToTop {
        display: none;
    }

    .footerList {
        float: right;
        display: block;
        margin-top: 27px;
    }

    .footerList li {
        display: inline-block;
        padding-top: 0;
        padding-left: 0;
        padding-right: 3em;
    }

    .footerList li:last-child {
        padding-right: 0;
    }
}

@media (min-width: 1024px) {

    .greeting p {
        font-size: 1.5em;
    }

    .main {
        overflow: hidden;
    }

    .card-img {
        padding-top: 1em;
    }

    .card {
        width: 30%;
        float: none;
        margin: 0;
        padding: 0;
        height: 23em;
    }

    .card-first,
    .card-second,
    .card-third {
        display: inline-block;
    }

    .card-fourth,
    .card-fifth,
    .card-sixth {
        display: inline-block;
    }

    .card-first,
    .card-fourth {
        float: left;
        margin-left: 1em;
    }

    .card-third,
    .card-sixth {
        float: right;
        margin-right: 1em;
    }

    .first-three {
        margin-bottom: 2em;
    }
}